WeatherClient/Service References/WeatherService/WeatherService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LessonCode" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LessonCode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeatherData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sunny" type="xs:boolean" />
      <xs:element minOccurs="0" name="Temperature" type="xs:int" />
      <xs:element minOccurs="0" name="WindSpeed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherData" nillable="true" type="tns:WeatherData" />
</xs:schema>